src/main/main.iml
.classpath
.project
hoover.iml
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
src/test/test.iml
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst